* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    background-image: linear-gradient(90deg, #5e5c5cde 0%, #9dc5c3d0 40%, transparent 40%), url(img/header.jpg);
    background-size: cover;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 30px;
}

.link {
    margin: 0 15px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}

.active {
    background-color: #0db4ac;
    padding: 10px 15px;
    margin-top: -10px;
    border-radius: 15px;
}

.active:hover {
    background-color: #006e69;
    transition: all .3s;
}

.linkHover {
    transition: all .3s;
}

.linkHover:hover {
    border-bottom: 3px solid #0db4ac;
}

.container {
    width: 40%;
    height: 77vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif;
}

h1 {
    grid-column:2/6;
    grid-row: 2/3;
    text-shadow: 0px 0px 5px #000;
}

p {
    grid-column: 2/6;
    grid-row: 3/5;
    text-align: justify;
}

button {
    grid-column: 2/4;
    grid-row: 5/6;
    align-self: flex-start;
    color: #fff;
    background-color: #0db4ac;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px #5e5c5cde;
    cursor: pointer;
}
button:hover{
    background-color: #006e69;
}